 /*.view-res-form{
    background: lightblue;
    border: 2px solid black;

}
.rform{
    box-shadow: 2px 2px 2px 2px gray;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
} */

/* .view-admin-form{
    background: yellow;
    border: 5px solid black;

}

.rform{
    box-shadow: 5px 5px 5px 5px white;
    border-radius: 1ren;
    padding: 1rem;
    dispay: flex;
    flex-direction: column;
    justify-content: space-evenly;
} */

